﻿ <%--
 Themplate: Customer
 Author: Dave Jookhuu, Fabian Isaza
 Date: July 15,2017
 Instractor: Jolanta. W
 Course: CPRG 214 
--%>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="kill-session.aspx.cs" Inherits="TravelExpertWeb.kill_session" %>